﻿@model IEnumerable<ProjectNet.Models.Books>
@{
    ViewBag.Title = "SelectBooks";
}

<h2>Index</h2>

@if (Model != null)
{
    foreach (ProjectNet.Models.Books bok in Model)
    {
        <div>
            @bok.Title 
        </div>
    }
}