﻿<body>
    <div>
        <br />
        <h2>Sprawdź Pogodę</h2>
    </div>
    <div id="searchContainer">

        <input id="searchInput" class="searchControl" type="text" placeholder="Podaj miasto" />
        <button class="searchControl" id="searchBtn">Szukaj</button>

    </div>
    <div id="weatherContainer">
        <div id="weatherDescription">
            <h1 id="cityHeader"></h1>
            <div id="weatherMain">
                <div id="temperature"></div>
                <div id="weatherDescriptionHeader"></div>
                <div><img id="documentIconImg"></div>
            </div>

            <div id="windSpeed" class="bottomDetails"></div>
            <div id="humidity" class="bottomDetails"></div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/Weather.js")" type="text/javascript"></script>

</body>